nav {
 width: 960px;
 margin: 0 auto;
}
.logo {
   display: inline;
   /* float: left;  */
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: sans-serif;
}




.logo div h2 {
    display: inline;
}

.social {
    /* float: right; */
    margin-right: 0;
    display: inline-block;
}

.header {
    margin: auto;
    width: 960px;
    margin-bottom: 30px;
    margin-top: 60px;
}

.header img {
    height: 15px;
    width: 15px;
    display: inline;

}

.print-div {
    float: right;
    margin-bottom: 40px;
}

.print {
    color: lightgrey;
    display: inline;

}

.divider {
    /* background-image: url(../img/choco-pizza.png); */
    background-image: url(../img/hr-img.png);
    background-repeat: repeat;
    width: 960px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 15px;
    height: 15px;
}


.main {
    margin: auto;
    width: 960px;
}

.main p {
    margin: 40px 0px 40px 0px;
    text-indent: 2em;
}



.Chocolate-pizza {
    width: 960px
}

/* Recipe */

.recipe-block {
    background-image: url(../img/list-bg.png);
    width: 960px;
    margin: auto;
    height: 275px;
}

form {
    position: relative;
}

form fieldset {
    display: block;
    margin: 0;

}

.left {
    /* float: left; */
}

.right {
    /* float: right; */
}

/* Author */

.author-info {
    width: 960px;
    margin: auto;
    margin-top: 30px;
}

.author-pic {
    float: left;
    margin-top: 15px;
    margin-right: 30px;
    display: inline-block;
}








/* Footer */

footer {
  text-align: center;
  height: 125px;
  padding-bottom: 75px;
  margin-top: 75px;
  border-top: thin solid gray;
}

footer img {
    margin-bottom: 40px;
    position: relative;
    top: -15px;
}

.share-recipe {
    background-color: rgb(107, 19, 19);
    color: white;
    float: right;
    height: 50px;
    width: 125px;
}